      		.tooltip {
  position: absolute;           
  text-align: center;           
  width: 460px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}


  #ParChart textarea
{
    width:100%;
}

#ParChart .textwrapper
{
    border:1px solid #999999;
    margin:5px 0;
    padding:5px;
}

#ParChart path
{
  fill: none;
  /*stroke: #ccc;*/
  stroke-width:1;
  stroke-opacity: .9;
  shape-rendering: crispEdges;
}

#ParChart .foreground path
{
  fill: none;
  stroke: green;
  stroke-opacity: .9;
}


#ParChart .brush .extent
{
  fill-opacity: .3;
  stroke: blue;
  shape-rendering: crispEdges;
}

#ParChart .axis line, #ParChart .axis path
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#ParChart .axis text
{
  text-shadow: 0 1px 0 #fff;
}

            .parcoords > svg, .parcoords > canvas {
                font: 14px sans-serif;
                position: absolute;
            }
            .parcoords > canvas {
                pointer-events: none;
            }
            .parcoords rect.background {
                fill: transparent;
            }
            .parcoords rect.background:hover {
                fill: rgba(120,120,120,0.2);
            }
            .parcoords .resize rect {
                fill: rgba(0,0,0,0.1);
            }
            .parcoords rect.extent {
                fill: rgba(255,255,255,0.25);
                stroke: rgba(0,0,0,0.6);
            }
            .parcoords .axis line, .parcoords .axis path {
                fill: none;
                stroke: #222;
                shape-rendering: crispEdges;
            }
            .parcoords canvas {
                opacity: 1;
                -moz-transition: opacity 0.3s;
                -webkit-transition: opacity 0.3s;
                -o-transition: opacity 0.3s;
            }
            .parcoords canvas.faded {
                opacity: 0.25;
            }